h4{
    color: darkred;


}

.external-para{
    background-color: lightyellow;
    border: 2px solid;
    border-radius:5px;
    color: darkgoldenrod;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}